
src/Source Code/.vs/Simple Desktop Animator/v16/.suo
src/Source Code/.vs/Simple Desktop Animator/v16/Browse.VC.db
src/Source Code/.vs/Simple Desktop Animator/v16/ipch/AutoPCH/cdb412967692a487/MAIN.ipch
